{% extends "AppBundle::layout.html.twig" %}
{% block body%}
<div class="container-fluid">
    <div class="row">
       <div class="col-sm-offset-2 col-md-8">
            <div class="card">
                <div class="card-header card-header-icon" data-background-color="rose">
                    <i class="material-icons">label</i>
                </div>
                <div class="card-content">
                    <br>
                    <h4 class="card-title">Edit :  {{form.vars.value.name}}</h4>
                    {{form_start(form)}}
                    <form method="#" action="#">
                        <div class="form-group label-floating">
                            <label class="control-label">Genre title</label>
                            {{form_widget(form.name,{"attr":{"class":"form-control"}})}}
                            <span class="validate-input">{{form_errors(form.name)}}</span>
                              <label class="control-label">Plan Type</label>
                            {{form_widget(form.type,{"attr":{"class":"form-control"}})}}
                            <span class="validate-input">{{form_errors(form.name)}}</span>
                            
                            <label class="control-label">Amount</label>
                            {{form_widget(form.amount,{"attr":{"class":"form-control"}})}}
                            <span class="validate-input">{{form_errors(form.name)}}</span>
                        </div>
                        <span class="pull-right"><a href="{{path("app_plan_index")}}" class="btn btn-fill btn-yellow"><i class="material-icons">arrow_back</i> Cancel</a>{{form_widget(form.save,{attr:{"class":"btn btn-fill btn-rose"}})}}</span>
                    {{form_end(form)}}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}