{% extends "AppBundle::layout.html.twig" %}
{% block body%}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
			<div class="row">
				<div class="col-md-4">
					<a href="{{path("app_plan_index")}}" class="btn  btn-lg btn-warning col-md-12"><i class="material-icons" style="font-size: 30px;">refresh</i> Refresh</a>
				</div>
				<div class="col-md-4">
					<a class="btn btn btn-lg btn-yellow col-md-12"><i class="material-icons" style="font-size: 30px;">label</i> {{plans|length}} plans</a>
				</div>
				<div class="col-md-4">
					<a href="{{path("app_plan_add")}}" class="btn btn-rose btn-lg pull-right add-button col-md-12" title=""><i class="material-icons" style="font-size: 30px;">add_box</i> NEW plan </a>
				</div>
			</div>
				<div class="row">
					{% for plan in plans %}

						<div class="col-md-4">
							<div class="card">
								<div class="card-content" style="text-align: left;height: 150px;padding: 0px;background: black;border-top-left-radius: 2px;border-top-right-radius: 2px;">
									<i class="material-icons" style="font-size: 64px;color: white;">inbox</i>
									<br>
									<span class="label-lang">{{plan.name}}</span>
									
								</div>
								
								<div class="card-content" style="text-align: left;padding: 0px;background: black;border-top-left-radius: 2px;border-top-right-radius: 2px;">
									
									<br>
									<span class="label-lang">{{plan.type}}</span>
									
								</div>
								<div class="card-content" style="text-align: left;padding: 0px;background: black;border-top-left-radius: 2px;border-top-right-radius: 2px;">
									
									<br>
									<span class="label-lang">{{plan.amount}}.00</span>
									
								</div>
								<div class="card-footer" style="    text-align: center;">
									<a href="{{path("app_plan_edit",{"id":plan.id})}}" rel="tooltip" data-placement="left" class=" btn btn-primary btn-xs btn-round" data-original-title="Edit">
										<i class="material-icons">edit</i>
									</a>
									<a href="{{path("app_plan_delete",{"id":plan.id})}}" rel="tooltip" data-placement="left" class=" btn btn-danger btn-xs btn-round" data-original-title="Delete">
										<i class="material-icons">delete</i>
									</a>
									
								</div>
							</div>
						</div>
					{% else %}
						<div class="col-md-12">
							<div class="card">
								<div class="card-content">
									<br>
									<br>
									<center><img src="{{asset("img/bg_empty.png")}}"  style="width: auto !important;" =""></center>
									<br>
									<br>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
				
			</div>
		</div>
		
	{% endblock%}