{% extends "AppBundle::layout.html.twig" %}
{% block body%}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-6">
						<a href="{{path("app_Subscribers_index")}}" class="btn  btn-lg btn-warning col-md-12"><i class="material-icons" style="font-size: 30px;">refresh</i> Refresh</a>
					</div>
					<div class="col-md-6">
						<a class="btn btn btn-lg btn-yellow col-md-12"><i class="material-icons" style="font-size: 30px;">group</i> {{(plans|length)}} Subscription</a>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<form>
							<input name="q" value="{{app.request.query.get("q")}}" type="text" class="search-input">
							<button class="btn btn-sm search-btn"><i class="material-icons" style="font-size: 30px;">search</i></button>
						</form>
					</div>
				</div>
				<div class="card">
					<div class="card-content">
						<h4 class="card-title">Subscription list</h4>
						<div class="table-responsive">
							<table class="table" width="100%">
								<thead class="text-primary">
									<tr>
										
										<th>Full name</th>
										<th>UserId</th>
										<th>Plan Type</th>
										<th width="160px">StartDate</th>
										<th width="160px">EndDate</th>
										<th width="160px">Status</th>
									</tr>
								</thead>
								<tbody>
									{% for user in plans %}
										<tr>
											
											<td>{{user.name}}</td>
											<td>{{user.username}}</td>
											     {% if user.plantype==1 %}
												   <td> Daily</td>
												 {% elseif  user.plantype==30 %}
												 <td> Monthly</td>
												  {% else %}
													<td> Yearly</td>
												  {% endif %}
													
													<td>{{user.startdate|date('d-m-Y')}}</td>
														<td>{{user.enddate|date('d-m-Y')}}</td>
											<td>
												{% if user.status==true %}
													<span class="label label-success">Enabled</span>
												{% else %}
													<span class="label label-danger">Disabled</span>
												{% endif %}
											</td>
										
										</tr>
									{% else %}
										<tr>
											<td colspan="4">
												<br>
												<br>
												<center><img src="{{asset("img/bg_empty.png")}}"  style="width: auto !important;"></center>
												<br>
												<br>
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
				
			</div>
		</div>
		
	{% endblock%}